body, h1 {
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2p 4px rgba(0,0,0,0.1);
}

form p {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(103, 206, 1);
    color:#333;
}

.todo {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.todo p{
    margin: 0;
}

.todo i {
    color: #888;
}

